
Library
Temp
obj

#Visual Studio stuff
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps 
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.sln
*.csproj
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/

/Assembly-UnityScript-Editor-vs.unityproj
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-Editor.unityproj
/Assembly-UnityScript-Editor-firstpass.unityproj
/Assembly-UnityScript-Editor-firstpass-vs.unityproj
/*.DotSettings
